<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.DepartmentMapper">
    <resultMap id="department" type="model.Department">
        <id property="id" column="id"></id>
        <result property="dep_name" column="dep_name"></result>
        <result property="dep_des" column="dep_des"></result>
    </resultMap>

    <!--public int addDep(Department dep);-->
    <insert id="addDep" useGeneratedKeys="true">
        insert into tbl_department(dep_name,dep_des)
        values(#{dep_name},#{dep_des})
    </insert>

    <!--public void deleteDep(Integer id);-->
    <delete id="deleteDep">
        delete from tbl_department where id = #{id}
    </delete>

    <!--public Department getDepById(Integer id);-->
    <select id="getDepById" resultMap="department">
        select *from tbl_department where id = #{id}
    </select>

    <!--public List<Department> getAllDep();-->
    <select id="getAllDep" resultMap="department">
        select *from tbl_department
    </select>

    <!--public int updateDep(Department department);-->
    <update id="updateDep" useGeneratedKeys="true">
        update tbl_department set
        <trim suffixOverrides=",">
            <if test="dep_name!=null and dep_name!=''">
                dep_name = #{dep_name},
            </if>
            <if test="dep_des!=null and dep_des!=''">
                dep_des = #{dep_des},
            </if>
        </trim>
        where id = #{id}
    </update>

    <!--public List<Department> getDepByDepName(String dep_name);-->
    <select id="getDepByDepName" resultMap="department">
        select *from tbl_department where dep_name like concat(concat('%',#{dep_name}),'%')
    </select>
</mapper>